<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include') %>
</head>
<body >
    <br />
    <div class="container center">
        <h2 class="font_ss">Welcome to BCD Service!</h2>

        <br /> <br />
        <a href="/wallet" class="btn btn-outline-danger font_ss center"> Create Wallet </a>
        <br /> <br />
        <a href="/views/function.html" class="btn btn-outline-danger font_ss center"> Functions </a>
    </div>
    
</body>
</html>